.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

table.users-list-table {
    width: 100%;
}

table.users-list-table th {
    text-align: left;
    border-bottom: 2px solid #CFCFCF;
}

table.users-list-table td {
    text-align: left;
    border-bottom: 1px solid #EFEFEF;
}

.create-user-form label {
    display: inline-block;
    width: 15%;
}
