{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/users.css' %}">
</head>
<body>
    <div class="wrapper">
    {% block content %}{% endblock %}
    </div>
</body>
</html>