{% extends 'layouts/default.html' %}

{% load allowed bizzfuzz from users_templatetag %}

{% block content %}
    <p>
        <a href="{% url 'users:users-create' %}">Create User</a>
    </p>
    <table class="users-list-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Birthday</th>
                <th>Eligible</th>
                <th>Random Number</th>
                <th>BizzFuzz</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.birthday }}</td>
                <td>{% allowed user.birthday %}</td>
                <td>{{ user.random_number }}</td>
                <td>{% bizzfuzz user.random_number %}</td>
                <td>
                    <a href="{% url 'users:users-detail' user.pk %}">Details</a>
                    <br>
                    <a href="{% url 'users:users-edit' user.pk %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
