{% extends 'layouts/default.html' %}

{% block content %}
    <form action="" method="post" class="create-user-form">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'users:users-list' %}">Back</a>
        <button type="submit">Create</button>
    </form>
{% endblock %}

