{% extends 'layouts/default.html' %}

{% block content %}
    <form action="{% url 'users:users-delete' object.pk %}" method="post" class="create-user-form">
        {% csrf_token %}
        <p><label for="id_username">Username:</label> <span class="helptext">{{ object.username }}</span></p>
        <p><label for="id_first_name">First name:</label> <span class="helptext">{{ object.first_name }}</span></p>
        <p><label for="id_last_name">Last name:</label> <span class="helptext">{{ object.last_name }}</span></p>
        <p><label for="id_email">Email address:</label> <span class="helptext">{{ object.email }}</span></p>
        <p><label for="id_is_active">Active:</label> <span class="helptext">{{ object.is_active }}</span></p>
        <p><label for="id_is_staff">Staff status:</label> <span class="helptext">{{ object.is_staff }}</span></p>
        <p><label for="id_is_superuser">Superuser status:</label> <span class="helptext">{{ object.is_superuser }}</span></p>
        <a href="{% url 'users:users-list' %}">Back</a>
        <button type="submit">Delete</button>
    </form>
{% endblock %}
